body {
	margin: 0;
	padding: 0;

	#content {
		.jumbotron {
			background-color: white !important;
		}

		img {
			width: 90%;
			height: 10em;
			object-fit: cover;
		}

		p {
			height: 3em;
		}

		.nav-item.active {
			color: #000000 !important;
		}

		.nav-item {
			color: #2f8570 !important;
		}
	}

	.navbar {
		background-color: rgb(245, 245, 245) !important;

		.navbar-logo {
			width: 3.5em;
			height: 3em;
		}
	}
}
